body{
    --primary-color :#2f486a;
    --secondary-color : #00ade5;
    --third-color : #ddebf8;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom, #ddebf8, #bbdbf4, #95cbf0, #67bceb, #00ade5);

}
.jumbotron{
    padding: 1em;
}

.profile-icon{
    font-weight: 900;
    font-size: 1.6em;
    margin-top: .3em;
    cursor: pointer;
}

.overview-heading{
    color: var(--primary-color);
}

#user-detail-page{
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    flex-wrap: wrap;
    /* top: 10rem; */
    /* margin: auto; */
    /* background-color: #fff; */
    /* left: 30vw; */
}

.user-detail-form{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* margin: auto; */
    flex-wrap: wrap;
    
}

.jumbotron{
    background-color: white;
}

/* budget cs */
.budget-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1em; */
    /* border: 1px solid black; */
}

.overview-right{
    /* padding-left: 5em; */
    /* text-align: center; */
}

.budget-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 1em;
    /* left: 0;
    margin-left: 0; */
    /* border: 1px solid black; */
}

.budget-section{
    /* background-color: #fff; */
    padding: 1em 0;
}

.budget-section .jumbotron{
    background-color: #fff;
}

.budget-jump1{
    /* padding: 0; */
    /* background-image: url("/assets/budget1.jpg"); */
    /* background-color: #fff; */
    /* opacity: .1; */
}

.budget-overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.budget-overview img{
    
    /* object-fit: cover; */
}

.spending{
    width: 80%;
    background-color:#ddebf8 ;
    height: 1.5em;
    padding: 0;
    /* opacity: .2; */
    border-radius: 1em;
}

.spending-bar{
    width: 40%;
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 1em 0 0 1em;
    /* z-index: 3; */
}

.bar-footer{
    display: flex;
    padding-top: .3em;
    /* align-items: center; */
    gap: .2em;
    /* justify-content: center; */
    font-size: 1.6em;
}

.bar-footer span{
    color: var(--secondary-color);
}
.j2{
    background-color: white;
}
.budget-info{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    padding: 1em;
    /* border: 1px solid red; */
}

.budget-list{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    padding: 2em;
}

.budget-card{
    padding: 1em;
    background-color: var(--third-color);
    border-radius: 1em;
    color: var(--primary-color);
    /* border: 1px solid red; */
    /* padding: 1em 1em;
    margin: 1em 1em; */
}

.budget-card h4{
    /* color: var(--secondary-color); */
    font-size: 2em;
    font-weight: 700;
}

.spending-c{
    width: 80%;
    background-color:white ;
    height: 1.5em;
    padding: 0;
    /* opacity: .2; */
    border-radius: 1em;
}

.spending-bar-c{
    width: 40%;
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: 1em 0 0 1em;
    /* z-index: 3; */
}
.btn{
    background-color: var(--secondary-color);
    color: white;
    display: inline;
}

.btn:hover,.btn:focus{
    color: white;
    border: none;
    outline: none;
}
#budgetMonth{
    outline: none;
    border: none;
    border-radius: .3em;
    padding: .39em;
}

.card-bar-footer{
    padding-top: .5em;
    font-size: 1.4em;
}

.card-bar-footer span{
    font-weight: 700;
}

.accounts{
    /* border: 1px solid red; */
    /* display: flex; */
    text-align: center;
    /* border-right: 1px solid var(--secondary-color); */
}

.line{
    background-color: var(--secondary-color);
}
.balance{
    padding: 1em 0;
    padding-right: 4em;
}

.balance h6{
    /* line-height: 1em; */
    padding: 0;
}

.balance span{
    color: var(--primary-color);
    font-size: 2em;
    line-height: .7em;

}

.account-overview{
    padding: 2em;
}

.account-overview img{
    width: 4em;
    border-radius: 50%;
    /* padding-top: .2em; */
    /* padding: 0; */
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 1em;
    padding-left: 0;
}

.rupee-icon{
    width: 40px;
    /* margin: auto; */
    padding-top: 1em;
    /* padding-right: 1em; */
}

.info span{
    color: var(--primary-color);
    font-size: 2em;
    line-height: .7em;

}

.income{
    /* border: 1px solid rebeccapurple; */
}

.ex span{
    color: red;
    font-size: 2em;
    line-height: .7em;

}

.acc-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rupee{
    color:green;
    background-color: green;
}