body{
    --primary-color :#2f486a;
    --secondary-color : #00ade5;
    --third-color : #ddebf8;
    background-color: var(--third-color);

}

.profile-icon{
    font-weight: 900;
    font-size: 1.6em;
    margin-top: .3em;
    cursor: pointer;
}

.overview-heading{
    color: var(--primary-color);
}

#user-detail-page{
    display: none;
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    /* top: 10rem; */
    /* margin: auto; */
    /* background-color: #fff; */
    left: 30vw;
}

.user-detail-form{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* margin: auto; */
    flex-wrap: wrap;
    
}

.jumbotron{
    background-color: white;
}