
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;800;900&display=swap');

body *{
  font-family: 'Inter', sans-serif;
}
:root {
    --border-radius: 3px;
  }
  
  :root,
  [data-selected-theme="green"] {
    --primary-color: #002B5B;
    --secondary-color: #159895;
    --third-color: #b3ebe3;
    --bg-c:linear-gradient(to top, #159895, #4caca7, #71c1ba, #93d6ce, #b3ebe3);
    --jumbotron-color:white;
    --active-theme-border : #C060A1;
  }
  
  [data-selected-theme="blue"] {
    --primary-color: #2f486a;
    --secondary-color: #00ade5;
    --third-color: #ddebf8;
    --bg-c: linear-gradient(to bottom, #ddebf8, #bbdbf4, #95cbf0, #67bceb, #00ade5);
    --jumbotron-color:white;
    --active-theme-border : #C060A1;
  }
  
  [data-selected-theme="pink"] {
    --primary-color: #DFB2F4;
    --secondary-color: #463546;
    --third-color: #F06EFC;
    --jumbotron-color:white;
    --active-theme-border : #C060A1;
  }
  
  [data-selected-theme="orange"] {
    --primary-color: #FA7D61;
    --secondary-color: #1E1E24;
    --third-color: #F3601C;
    --jumbotron-color:white;
    --active-theme-border : #C060A1;
  }
  [data-selected-theme="violet"] {
    --primary-color: #393053;
    --secondary-color: #443C68;
    --third-color: #a7a3b7;
    --bg-c: linear-gradient(to top, #443c68, #5c547b, #746e8f, #8d88a3, #a7a3b7);
    --jumbotron-color:white;
    --active-theme-border : #C060A1;
  }
  [data-selected-theme="dark"] {
    --primary-color: white;
    --secondary-color: #929292;
    --third-color: #1F1F1F;
    --bg-c: #000101;
    --jumbotron-color:#1F1F1F;
    --active-theme-border : white;
  }
  [data-selected-theme="light-violet"]{
    --primary-color: #6E3CBC;
      --secondary-color: #7267CB;
      --third-color: #98BAE7;
      --bg-c:linear-gradient(to top, #7267cb, #727ed6, #7893de, #85a7e3, #98bae7);
      --jumbotron-color:white;
      --active-theme-border : #C060A1;
  }
body{
    /* --primary-color :#2f486a;
    --secondary-color : #00ade5;
    --third-color : #ddebf8; */
    /* font-family: 'Lato', sans-serif; */
    background-image: var(--bg-c);
    background-color: var(--bg-c);
    min-height: 100vh;

}



.jumbotron{
    background-color: var(--jumbotron-color);
}

.settings{
    padding-top: 2em;
}

.side-navbar{
    padding-top: 2em;
    /* border: 1px solid red; */
    position: fixed;
    z-index: 2;
    /* right: 0;
    left: 0; */
    width: 20%;
  }
  @media only screen and (max-width: 767px) {
    .side-navbar{
        display: none;
    }
  }
  
  .s-jumbotron{
    padding: 1em !important;
    height: 85vh;
    /* width: 100%; */
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .side-nav{
    color: var(--primary-color);
    /* border: 1px solid red; */
    
  }
  
  .s-heading{
    background-color: var(--third-color);
    padding: 1em;
    border-radius: 1em;
  }

  .s-heading a{
    color: var(--primary-color);
  }
  .s-row{
    width: 100%;
  }
  
  .s-nav{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    /* border: 1px solid red; */
  }
  
  .s-nav a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
  }
  .s-nav a span{
    color: white;
    background-color: var(--secondary-color);
    border-radius: 20%;
    padding: .2em;
  }
  .s-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding:10px;
    color: var(--primary-color);
  }
  .active-tab{
    background: rgba(255, 255, 255, 0.6);
  }
  
  h3,h1,h4,h5{
    font-weight: 600;
    color: var(--primary-color);
  }

.nav-tabs{
    /* border: 0; */
}

.settings-tabs{
    
    display: flex;
    justify-content: flex-start;
    /* gap:1em; */
    padding: 1em 0;
    /* border: 1px solid red; */
}

.settings-tab{
  border-radius: 10px;
  margin-right: 10px;
  /* margin-bottom: 10px; */
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    font-weight: 600;
    background-color: var(--secondary-color);
    border: 0;
    border-bottom-color: transparent;
}
.nav-tabs>li>a,.nav-tabs>li>a:hover {
  margin-right: 2px;
  line-height: 1.42857143;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0;
  color: var(--secondary-color);
  font-weight: 600;
  /* border: 1px solid transparent; */
  border-radius:10px;
}
.theme-tab{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}
.theme-img{
width: 24px;
height: 24px;
}

.th-img{
  width: 280px;
  border: 3px solid white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.active-theme{
  border: 3px solid var(--active-theme-border);
}

.layer{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: var(--primary-color);
  opacity: .4;
}

.modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  /* border: 1px solid red; */
  width: 300px;
  background-color: var(--jumbotron-color);
}

.ac-form{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}

.grp{
  display: flex;
    flex-direction: column;
    width: 100%;
}

.btn{
  background-color: var(--secondary-color);
  color: white;
  display: inline;
}

.btn:hover,.btn:focus{
  color: white;
  border: none;
  outline: none;
}

.category-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.category-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 270px;
  /* gap: 10px; */
  background-color: #f4f4f494;
  padding: .2em 1em;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

/* .category-card:hover{
  width: max-content;
} */

.category-card p{
  visibility:hidden;
}


.category-list button{
  width: 100px;
  padding: 10px;
  border-radius:10px ;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.edit-button,.delete-button{
  margin-left: 10px;
  font-size: 18px;
}

.my-alerts{
  display: none;
  /* width: 80%; */
  width: 100vw;
  /* padding-top: 3em; */
  /* padding-top: 0; */
  border-radius: 1em;
  text-align: center;
  position: fixed;
  top: 1.5em;
  justify-content: center;
  align-items: center;
  z-index: 89;
  transition: all ease 10s;
}

.message{
  width: 70%;
  font-weight: 700;
  color: var(--primary-color);
}


.add-btn{
  width: 270px !important;
}