body{
    --primary-color :#2f486a;
    --secondary-color : #00ade5;
    --third-color : #ddebf8;
    /* background-color: white; */
    background-image: linear-gradient(to left top, #00ade5, #81bef0, #bad0f6, #e2e6fa, #ffffff);
    /* background-image: linear-gradient(to right bottom, #ffffff, #cdcdd7, #9a9db1, #66718d, #2f486a); */
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    
}

.heading{
    padding: .9em 0;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-icon{
    font-weight: 900;
    font-size: 1.6em;
    margin-top: .3em;
    cursor: pointer;
}

.login-page{
    min-height: 80vh;
    display: flex;
    /* position: absolute; */
    z-index: 9;
    /* left: 0;
    right: 0; */
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    /* padding: 6em 0; */
}


.login-form{
    /* min-width: 320px; */
    border-radius: 1em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    /* margin-left:auto; */
}

.ac-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.login-form p{
    padding-top: 1em;
}

.navbar-brand{
    color: var(--primary-color);
    font-size: 1.6em;
}

.finwise-logo{
    width: 4em;
    padding-top: 0 !important;
    /* padding-bottom: 3em; */
}

.nav-tabs a{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--primary-color);
}


footer{
    /* position:fixed;
    bottom: 0;
    z-index: 2; */
    /* text-align: center; */
    padding-top: 1em;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 1em;
    font-weight: 700;
}